h1{
    color:maroon;
}

@font-face {
    font-family: 'buttermilk';
    src: url('/fonts/Buttermilk.woff') format('truetype');
  }
  
  * {
    font-family: 'buttermilk';
  }
  

.username{
    font-style: italic;
}

.post{
    background-color: blanchedalmond;
}
.content{
    background-color: lightyellow;
}